@charset "UTF-8";

/* mobile first  celular */

* {
    margin: 0px;
    padding: 0px;
}

header.titulo > span > a > img {
    width: 35px;
    margin: 25px 0px 0px 10px;
    border-radius: 50%;
    
 }

 header.titulo {
    background-color: red;
    height: 70px;
 }

div.email {
    display: inline-block;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Fixa a barra no topo da janela */
    width: 100%;
    
    z-index: 1000; /* Z-index alto para garantir que fique acima do conteúdo */
  }
  
.navbar img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar > h2 {
    color: white;
  }